@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Neucha&family=Open+Sans:ital,wght@1,300&display=swap');

.app {
  height: 100%; /* Set the height to 100% */
  overflow-y: auto; /* Enable vertical scrolling */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
}
.home {
  color: aliceblue;
}
